.container-teams, .container-players, .container-about{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-about{
    height: 70vh;
    justify-content: space-evenly;
}

.container-button{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-button a{
    color: #FFFFFFDE;
}

.container-button a:active{
    color: #3282B8;
}

.about-profile{
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #222831;
    border-radius: 86% 14% 91% 9% / 11% 90% 10% 89%;
    box-shadow: rgba(34, 40, 49, 0.4) -5px 5px, rgba(34, 40, 49, 0.3) -10px 10px, rgba(34, 40, 49, 0.2) -15px 15px, rgba(34, 40, 49, 0.1) -20px 20px, rgba(34, 40, 49, 0.05) -25px 25px;
}

.profile-name div{
    width: 300px;
    height: 2px;
    background-color: #fff;
}

.profile-name{
    color: #FFFFFFDE;
    font-size: 24px;
    font-weight: 600;
}

.profile-name p{
    margin: 0;
}

.container-aboutDesc{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 100% 0% 97% 3% / 72% 0% 100% 28%;
    color: #FFFFFFDE;
    font-size: 18px;
    font-weight: 600;
}

.container-aboutDesc > p{
    text-shadow: 2px 2px 4px #EDEDED;
}

.header-detail{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-desc{
    margin: 0 10px;
}

.header-link{
    color: #FFFFFFDE;
}

.active{
    color: #3282B8;
}

.player-link, .header-link{
    text-decoration: none;
}

.player-link > div{
    transition: all 0.3s;
}

.player-link > div:hover{
    transform: scale(1.1, 1.1);
    transform: translateZ(1);
    backface-visibility: hidden;
}

.paginationBtn{
    width: 80%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
    margin-bottom: 100px;
}

.paginationBtn a{
    display: block;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
    cursor: pointer;
    font-weight: 500;
}

.paginationBtn a:hover{
    color: #000;
    background-color: #EEEEEE;
}

.paginationActive a{
    color: #000;
    background-color: #FFFFFF;
}

.paginationDisabled a{
    background-color: #42454b;
    color: #222831;
    border: 1px solid #222831;
    cursor: not-allowed;
}

.paginationDisabled a:hover{
    background-color: #42454b;
    color: #222831;
    border: 1px solid #222831;
    cursor: not-allowed;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
}

.player-desc > h1, .rm-desc > h1{
    margin-top: 0;
}

.card-player:last-child{
    margin-bottom: 100px;
    cursor: default;
}

#avatar{
    border-radius: 72% 28% 74% 26% / 31% 67% 33% 69%;
    width: 150px;
}

@media only screen and (max-width: 768px) {
    .container-aboutDesc{
        width: 80vw;
        font-size: 14px;
    }

    .profile-name div{
        width: 100%;
    }

    .profile-name p{
        font-size: 16px;
    }
    
    .header-desc h2{
        font-size: 18px;
    }

    .container-button svg{
        width: 30px;
        height: 30px;
    }

    .about-profile{
        width: 80vw;
    }
}