footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(23, 23, 23);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 10;
}

.footer{
    padding: 10px 0;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

.footer svg{
    width: 40px;
    height: 40px;
    color: #fff;
}
.active svg{
    color: #293B5F;
}