body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #393E46;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  min-height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
